<div class="top-wrapper">
  <div class="top-inner-text">
    <h1 class="text-6xl text-whute text-center font-semibold">Negative_word_share</h1>
    <p><h3 class="text-4xl text-gyay-200 text-center font-semibold">今まで言われて傷ついた言葉をシェアしてみんなでなぐさめ合おう!!</h3></p>
  </div>
</div>
