<nav class="navigation navbar-light bg-blue-500 bg-opacity-25" >
  <div class="text-center py-10">
    <div class="container-fluid">
        <%=link_to '利用規約', page_path('terms')%>
        <%=link_to 'プライバシーポリシー', page_path('privacy_policy') %>
        <%=link_to 'お問い合わせ', page_path('inquire') %>
      <p class="mt-2">&copy;2022 Negative_word_share</p>
    </div>
  </div>
</nav>
