<% content_for(:title, t('.title')) %>
<div class = "container1">
  <h1>お問い合わせ</h1>
  <li>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスもしくはTwitterアカウント宛にご連絡ください。</li>
  <h3>e-mail</h3>
  <li>toytoy0714@icloud.com</li>
  <h3>Twitter ID</h3>
  <li>薬監</li>
  <li>@Ws44olu6bygWDyB</li>
</div>
