@import 'top';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
.container1 {
  background: linear-gradient(to top, rgba(91, 238, 240, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%);
  background-color: #c6f6d5;
}
.pagination {
  justify-content: center;
}
.container {
  background-color :#4fd1c5;
}

