.top-wrapper {
  background:linear-gradient(to top, rgba(91, 238, 240, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url('sad.jpg') center;
  height: calc(225vh - 200px);
  position: relative;

  .top-inner-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
      }
    }

  }
